body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  max-width: 800px;
  margin: 30px auto;
}

.todos {
  width: fit-content;
}

.todo {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
}

.clear-btn {
  margin-bottom: 20px;
}
